@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- İçerik için stil -->
    <link href="~/Content/stillerim.css" rel="stylesheet" />
    <!-- içerik -->
    <div class="wrapper2">
        <h2 class="center-text">Kalkanlı Mağaraları</h2>
        <img src="~/wwwroot/kalkanli.jpg" alt="Kalkanlı Mağaraları" class="feature-img">
        <p class="center-text">Kalkanlı Mağaraları, yerel halk arasında oldukça popüler bir doğa harikasıdır. Mağaranın ilginç yapısı, yerli ve yabancı turistlerin ilgisini çekmektedir.</p>
        <p class="center-text">Ziyaretçilere, mağara içindeki fosiller ve doğal oluşumları keşfetme fırsatı sunulmaktadır.</p>
        <!-- Google Maps Embed Section -->
        <section class="w3l-contacts-2">
            <div style="display: flex; justify-content: center; align-items: center; height: 350px; width: 100%;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12376.064770443265!2d40.009128960383656!3d39.1516133367746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40710b5c0bd67deb%3A0xc83cabcbcb6b6ef2!2zS2Fsa2FubMSxLCBNZXJrZXosIDEyNjUyIEthbGthbmzEsS9ZYXlsYWRlcmUvQmluZ8O2bA!5e0!3m2!1str!2str!4v1735261708550!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </div>


    <!-- içerik -->
